<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <connectionStrings>
      <clear />
        <add 
            name="<connectionStringName>" 
            connectionString="SERVER=<serverName>; DATABASE=<databaseName>; UID=<userName>; PASSWORD=<password>;Allow User Variables=True;" 
            providerName="MySql.Data.MySqlClient"
        />
    </connectionStrings>
  </configuration>